/*
background image will involve The Simpson's House, then the 'snake game' will pop up with the Simpsons clouds image which the game will be palyed on


body {
	background-image: url(../images/simpsons_house.jpg);
	background-repeat: no-repeat;

}
*/

/*body {
	background-color: yellow;
}*/
